
<% @contracts.each do  |contract| %>
  <%if contract.hunter_id == @hunter.id%>

    <div class="eachcontract">
      <h3><%= contract.title%></h3>
      <p><%= contract.description%></p>
      <h4>This contract is:  </h4>
        <%if contract.status == 'Pending' %>
          <h4> <%= contract.status%> <span style="opacity:0;">....</span>  <i class="fa fa-clock text-warning" style="opacity:0.7;"></i> </h4>
        <% elsif contract.status == 'Accepted' %>
          <h4> <%= contract.status%> <span style="opacity:0;">....</span>  <i class="fa fa-crosshairs text-info"></i> </h4>
        <% elsif contract.status == 'Declined' %>
          <h4><%= contract.status%> <span style="opacity:0;">....</span>  <i class="fa fa-ban text-danger"></i></h4>
        <% else %>
          <h4><%= contract.status%> <span style="opacity:0;">....</span>  <i class="fa fa-check text-success"></i></h4>
        <% end %>
      <div id="update">
        <%= link_to "Update", edit_hunter_contract_path(@hunter, contract), :class => "btn"%>
      </div>
      <div id="delete">
        <%= link_to "Delete", contract_path(contract), :class => "btn",
        method: :delete,
        data: { confirm: "Are you sure?" }
        %>
      </div>
  </div>
  <% else %>
    <p> You have no contracts with this hunter </p>
  <% end %>
<% end %>
