<div class="form-new-contract">
  <%= simple_form_for [@hunter, @contract] do |f| %>
  <% if @hunter.user_id == current_user.id %>
    <%= f.input :status, label: "Status", collection: Contract::CONTRACT_STATUS %>
  <% else %>
    <%= f.input :title %>
    <%= f.input :description %>
  <% end %>
    <%= f.input :hunter_id, as: :hidden, input_html: { value: @hunter.id } %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.submit "Edit contract", class: "form-btn" %>
  <% end %>

</div>
