<div class="container">
  <h1 class="available">Available bounty hunters</h1>
  <div class="hunters">
    <% @hunters.each do |hunter| %>
      <div class="hunter">
          <%if hunter.photo.attached? %>
            <div class="hunter-img"><%= cl_image_tag hunter.photo.key, width: 200, height: 200, crop: :fill, gravity: :face, class: 'hunter-img'%></div>
          <% end %>
            <h2 class="hunter-nickname"><%= "#{hunter.name}"%></h2>
            <p class="hunter-description"><%= "'#{hunter.catchphrase}'" %></p>
            <p class="hunter-price"><%= "Book for: #{hunter.price}€"%> </p>
            </p>
      <%= link_to "Book this hunter", hunter_path(hunter.id), class:'hunter-btn' %>
      </div>
    <% end %>


  </div>
  <%= link_to "Become a hunter", new_hunter_path, class: "btn-adh"%>
</div>
