<div class="hunterdiv">
<h2 class="newhunt">Create a new hunter</h2>
<div class="form-new-hunter">
  <%= simple_form_for @hunter do |f| %>
    <%= f.input :name %>
    <%= f.input :catchphrase %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
      <%= f.simple_fields_for SpecialityHunter.new do |p| %>
        <%= p.collection_check_boxes :speciality, Speciality.all, :id, :name %>
      <% end %>
    <%= f.submit "Validate", class: "form-btn" %>
  <% end %>
  </div>
</div>
