
<div class="showcontainer">
  <div class="showcard">
      <%if @hunter.photo.attached? %>
        <%= cl_image_tag @hunter.photo.key %>
      <% end %>
    <div class="details">
        <h1><%= @hunter.name%></h1>
        <p id="quote"><%= "#{@hunter.catchphrase}" %></p>
        <p><%= "#{@hunter.description}" %></p>
        <p id="price"><%= "#{@hunter.price}€"%> </p>
        <p><% @hunter.specialities.each do |speciality|%>
          <%= "#{speciality.name}"%>
        <% end %>
        </p>
      </div>
  </div>
  <%= render 'contracts/show' %>
  <% unless @hunter.user_id == @user.id %>
    <div class="contract">
      <h2>Offer a contract</h2>
      <%= render 'contracts/new' %>
    </div>
  <% end %>
</div>
