<div class="showpage">

  <div class="showcontainer">
    <div class="showcard">
      <div id="photoshow">
        <%if @hunter.photo.attached? %>
          <%= cl_image_tag @hunter.photo.key %>
        <% end %>
      </div>
      <div class="details">
        <h1><%= @hunter.name%></h1>
        <p id="quote"><%= "#{@hunter.catchphrase}" %></p>
        <p><%= "#{@hunter.description}" %></p>
        <p id="price"><%= "#{@hunter.price}€"%> </p>

        <p>Specialties: <% @hunter.specialities.each do |speciality|%>
          <%= "#{speciality.name}"%>
        <% end %>

        </p>
      </div>
    </div>
    <div>
      <% unless @hunter.user_id == @user.id %>
        <div class="contract">
          <h2>Offer a contract</h2>
          <%= render 'contracts/new' %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="contratshowdiv">
    <% if @contracts.empty?%>
      <%= "No contracts"%>
    <% else %>
      <%= render 'contracts/show', contract: @contracts %>
    <% end %>
  </div>

</div>
