<div class="container">
  <h1><%= @hunter.name%></h1>
  <%if @hunter.photo.attached? %>
    <%= cl_image_tag @hunter.photo.key %>
  <% end %>
  <p><%= "#{@hunter.catchphrase}" %></p>
  <p><%= "#{@hunter.description}" %></p>
  <p><%= "#{@hunter.price}"%> </p>
  <p><% @hunter.specialities.each do |speciality|%>
    <%= "#{speciality.name}"%>
  <% end %>
  </p>


<h2>Offer a contract</h2>
<%= render 'contracts/new', contract: @contract %>

</div>
